<app-navbar></app-navbar>


<app-modal
  [(visible)]="showModalRegistro"
  headerTitle="Registro colaboradores"
  [showFooter]="false"
  [dialogStyle]="{ width: '90vw', maxWidth: '1100px', height: '45vh' }"
  (cancel)="closeModal()"
>
  <div modal-body class="p-fluid">
    <form
      [formGroup]="formRegistroUsuario"

      class="formgrid grid"
      style="width: 100%;"
    >
      <div class="field col-12 md:col-6">
        <label for="tipoDocumento">Tipo de documento</label>
        <p-select
          formControlName="tipoDocumento"
          [options]="tipoDocumentoOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          class="w-full pi-id-card"
        ></p-select>
      </div>

      <div class="field col-12 md:col-6">
        <app-input
          formControlName="identificacion"
          label="Número de documento"
          placeholder="Número de documento"
          icon="pi pi-id-card"
        ></app-input>
      </div>
         <div class="field col-12 md:col-12">
        <app-input
          formControlName="nombrecompleto"
          label="Nombre completo"
          placeholder="Nombre completo"
          icon="pi pi-id-card"
        ></app-input>
      </div>

      <div class="field col-12 md:col-6">
        <app-input
          formControlName="departamento"
          label="Departamento"
          placeholder="Departamento"
          icon="pi pi-id-card"
        ></app-input>
      </div>

  <div class="field col-12 md:col-6">
        <app-input
          formControlName="seccion"
          label="Sección"
          placeholder="seccion"
          icon="pi pi-id-card"
        ></app-input>
      </div>
 <div class="field col-12 md:col-6">
        <label for="puntoServicio">Punto de servicio</label>
        <p-select
          formControlName="puntoServicio"
          [options]="puntoAtencion"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          class="w-full pi-id-card"
        ></p-select>
      </div>
       <div class="field col-12 md:col-6">
        <label for="RolUsuario">Rol</label>
        <p-select
          formControlName="RolUsuario"
          [options]="rol"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione"
          class="w-full pi-id-card"
        ></p-select>
      </div>

    </form>

    <div class="flex justify-content-end gap-3 mt-6 pt-4 border-top-1 surface-border">
      <button pButton type="button" label="Limpiar" class="p-button-outlined p-button-secondary w-8rem"
        (click)="onReset()"></button>
      <button pButton type="submit" label="Registrar" class="p-button-primary w-8rem"
        (click)="Registrar()"></button>
    </div>
  </div>
</app-modal>






<div class="flex justify-content-center mt-8">
  <div class="usuarios-container surface-card p-5 shadow-3 border-round-xl w-full md:w-10 lg:w-8 xl:w-7">

    <div class="tabla-wrapper">
      <div class="grid mb-4 align-items-center">
        <div class="col-12 md:col-6">
          <h2 class="text-2xl font-semibold m-0">Gestión de Usuarios</h2>
        </div>
        <div class="col-12 md:col-6 text-right">
       <button
  pButton
  pRipple
  type="button"
  class="p-button-sm text-white border-none"
  style="background-color: #97b47c; color: white;"
  (click)="openModel()"
>
  <i class="pi pi-plus mr-2"></i> Crear Usuario
</button>

        </div>
      </div>

      <ng-container *ngIf="listaUsuarios?.length">
        <app-generic-table-component
          [columns]="columns"
          [data]="listaUsuarios"
          [showActions]="true"
          (onAction)="editarUsuario($event)">
        </app-generic-table-component>
      </ng-container>

      <div *ngIf="!listaUsuarios?.length" class="mensaje-cargando">
        No hay usuarios disponibles o se están cargando...
      </div>
    </div>
  </div>
</div>
