<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="dialogStyle"
  [closable]="false"
  [showHeader]="true"
  [header]="headerTitle"
  (onHide)="onClose()"
>
  <ng-content select="[modal-body]"></ng-content>

  <ng-template *ngIf="showFooter" pTemplate="footer">
    <div class="modal-footer">
      <p-button
        *ngIf="showCancelButton"
        label="Cancelar"
        class="p-button-secondary"
        (onClick)="onClose()"
      ></p-button>

      <p-button
        label="Aceptar"
        class="p-button-primary"
        (onClick)="onAccept()"
        [disabled]="acceptDisabled"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
