<p-menubar>
  <ng-template pTemplate="start">
    <!-- Logo en el lado izquierdo -->
    <img src="logoHptu.png" alt="Logo" class="logo"/>
  </ng-template>
  <ng-template pTemplate="end">
    <!-- Menú a la derecha -->
    <ul class="p-menubar-root-list">
      <li class="p-menuitem">
        <img src="habeas_pac.ico" alt="Logo" class="icono"/>
      </li>
      <li class="p-menuitem">
     <span class="habeas-text">Habeas Data Pacientes</span>
      </li>
    </ul>
  </ng-template>
</p-menubar>
