/* Logo institucional */
.logo {
  width: 60vw;
  max-width: 350px;
  height: auto;
  display: block;
}

/* Contenedor derecho */
.menu-right-container {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 2vw, 1.5rem);
  padding-right: 1rem;
  list-style: none;
  margin: 0;
}

/* Contenedor de ícono y texto */
.app-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Ícono Habeas */
.icono {
  width: 3vw;
  max-width: 45px;
  min-width: 28px;
  height: auto;
}

/* Contenedor de textos */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

/* Título */
.habeas-text {
  font-size: 1.6vw;
  font-weight: 600;
  color: #3968a0; /* Color solicitado */
  white-space: nowrap;
}

/* Nombre usuario */
.user-nombre {
  display: flex;
  align-items: center;
  font-size: 1vw;
  color: #1a1a1a;
  font-weight: 500;
  white-space: nowrap;
  gap: 8px;
}

/* Avatar usuario */
.user-avatar {
  background-color: #3968a0;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botón logout */
.logout-button {
  background-color: #97b47c;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #7da163;
  cursor: pointer;
}

/* Botón home */
.home-button {
  background-color: #3968a0;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #2d507f;
  cursor: pointer;
}

/* Quitar puntos de las listas */
.p-menuitem.no-dot {
  list-style-type: none;
}

/* Responsive */
@media (max-width: 768px) {
  .logo {
    width: 35vw;
    max-width: 200px;
  }

  .icono {
    max-width: 35px;
  }

  .habeas-text {
    font-size: 4vw;
  }

  .user-nombre {
    font-size: 3.5vw;
  }

  .logout-button,
  .home-button {
    font-size: 4vw;
    padding: 0.3rem 0.6rem;
  }

  .menu-right-container {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
}
