<app-navbar></app-navbar>
<app-modal
  [(visible)]="showModal"
  [headerTitle]="'Punto de servicio'"
  [dialogStyle]="{ width: '1000px', height: '600px' }"
  [showCancelButton]="false"
  [acceptDisabled]="acceptDisabled"
  (accept)="seleccionPunto()"
>
  <div modal-body class="p-fluid">
    <label class="mb-4 block">Por favor seleccione el punto de servicio al que pertenece:</label>
    <app-list-select-loader
      [url]="urlpuntoServicio"
      [optionLabel]="'sernom'"
      [optionValue]="'sercod'"
      [emitLabel]="true"
      (selectedChange)="onSeleccion($event)"
      class="mb-4 block"
    ></app-list-select-loader>
  </div>
</app-modal>




<main class="bg-white min-h-screen pt-5">
  <div class="max-w-6xl mx-auto">
    <!-- Añadimos mt-5 para separar del navbar -->
    <div class="grid gap-6 justify-content-center align-content-start mt-5 pt-20">
      <div *ngFor="let unidad of apps" class="col-12 md:col-6 lg:col-3 pt-8" >
        <app-menu
          [unidad]="unidad"
          (clickUn)="onUnidadClick($event)"
          class="w-full h-full"
        ></app-menu>
      </div>
    </div>
  </div>
</main>
