<app-navbar></app-navbar>

<app-modal
  [(visible)]="showModal"
  [headerTitle]="'Punto de servicio'"
  [dialogStyle]="{ width: '1000px', height: '600px' }"
  [showCancelButton]="false"
  [acceptDisabled]="acceptDisabled"
  (accept)="seleccionPunto()"
>
  <div modal-body class="p-fluid">
    <label class="mb-4 block">
      Por favor seleccione el punto de servicio al que pertenece:
    </label>
    <app-list-select-loader
      [url]="urlpuntoServicio"
      [optionLabel]="'sernom'"
      [optionValue]="'sercod'"
      [emitLabel]="true"
      (selectedChange)="onSeleccion($event)"
      class="mb-4 block"
    ></app-list-select-loader>
  </div>
</app-modal>

<main class="bg-white min-h-screen pt-5 px-4">


    <!-- Operations -->
    <section class="operations-section mb-10">
      <h2 class="section-title">Operaciones de Habeas Data</h2>

      <!-- estado de carga -->
      <div *ngIf="loading" class="text-center">
        <p-progressSpinner></p-progressSpinner>
      </div>

      <!-- grid de operaciones -->
      <div *ngIf="!loading" class="operations-grid">
        <div *ngFor="let unidad of operationsApps">
          <app-menu
            [unidad]="unidad"
            (clickUn)="onUnidadClick($event)"
          ></app-menu>
        </div>
      </div>
    </section>

    <hr class="section-divider"/>

    <!-- Administration -->
    <section class="administration-section mt-10">
      <h2 class="section-title">Administración</h2>

      <!-- grid de administración -->
      <div class="admin-grid">
        <div *ngFor="let unidad of adminApps">
          <app-menu
            [unidad]="unidad"
            (clickUn)="onUnidadClick($event)"
          ></app-menu>
        </div>
      </div>
    </section>


</main>
